#signuplink, #loginlink, #learnmore{
margin-left: 25px;
padding: 7px 15px;
text-decoration: none;

border-radius: 20px;
}
#signuplink{
background-color: rgb(91, 126, 241);
color: white;
}
#learnmore{
  background-color: rgb(241, 121, 91);
  color: white;
  
  }

#loginlink{
  background-color: none;
  border: 1px solid ;
}

#question{
  width: 100%;
}
